#categoryWindow[data-v-1b54888a]{
    position:absolute;
    background:#fff;
    padding:0;
    border-radius:0 5px 5px 0;
    top:0;
    left:95%;
    z-index:999;
    /* display:flex; */
    /* flex-direction:column; */
    height:422px;
    overflow:auto;
    width:170%
}
.catalog-menu[data-v-1b54888a]{
    background:#fff;
    padding:15px 0 0 0;
    border-radius:5px;
    z-index:9999
}
.catalog-menu ul[data-v-1b54888a]{
    list-style:none;
    padding:0;
    margin:0
}
.catalog-menu ul li[data-v-1b54888a]{
    width:100%;
    border-bottom:1px solid #bbb;
    height:60px;
    overflow:hidden
}
.catalog-menu ul li a[data-v-1b54888a]{
    display:flex;
    padding:10px;
    font:14px Century Gothic,sans-serif;
    color:#818181;
    text-decoration:none;
    height:100%;
    align-items:center
}
.catalog-menu ul li[data-v-1b54888a]:hover{
    background:linear-gradient(180deg,#b7d602 0,#68c316);
    color:#fff
}
.subcategory[data-v-1b54888a]{
    width:70px;
    margin:15px;
    height:45px;
}
.subcategory[data-v-1b54888a]:hover{
    background:linear-gradient(180deg,#b7d602 0,#68c316);
    color:#fff
}
